MONGO_URL = mongodb+srv://stockScanner:iIQBJUqgcXLGFxvg@cluster0.f1wmg.mongodb.net/stockScanner?retryWrites=true&w=majority
#MONGO_URL = mongodb://root:Admin%40123@139.59.0.106:27017/PlayDates
#mongodb://[MongodbHost]:[PORT]/[DatabaseName]
JWT_SECRET = "abcdefghijklmnopqrstuvwxyz1234567890"
TOKEN_SECRET = "STOCKSCANNER"
TOKEN_HEADER_KEY = "token"
DB_HOST=localhost
DB_USER=root
DB_PASS=root
DB_NAME=stockScanner
PORT = 3100
JWT_TIMEOUT_DURATION="720 hours"